<div class="center-form">
  <div class="card-body">
  	<h3 class="greeting">TripSearch 2021 made my Lubov</h3>
  	<br>
  	<p>Email: xxxx@gmail.com</p>
  	<p>Телефон: +375-29-999-99-99</p>
  </div>
</div>
