<div class="center-form mb-2">
	<div class="container">
		<div class="row">
			<div class="tiles-with-text">
				<h3 class="form-title">Город</h3>
				<div class="tiles">
					<div class="box">Минск</div>
		    	<div class="box">Санкт-Петербург</div>
		    	<div class="box">Киев</div>
		    	<div class="box">Москва</div>
				</div>
			</div>
			<div class="right-col flex-column d-flex justify-content-around">
				<%= link_to 'Назад', places_path %><br>
				<button class="btn btn-next">Далее -></button>
			</div>
		</div>
	</div>
</div>
