<div class="center-form mb-2">
	<div class="card-form">
		<h3 class="form-title">Город</h3>

		<div class="row">
	    <div class="box">Минск</div>
	    <div class="box">Санкт-Петербург</div>
	    <div class="box">Киев</div>
	    <div class="box">Москва</div>
		</div>
	</div>

		<%= link_to 'Back', places_path %>
</div>
